@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  position: absolute;
  overflow-y: auto;
  height: 100vh;
}
.heading {
    text-align: center;
    margin-top: 100px;
    width: 100%;
}
.heading h1 {
    color: white;
    font-size: 70px;
    margin: 0;
}
.heading h3 {
    color: #84b6f4;
    font-size: 20px;
}
#particles-js {
    background: black;
    height: 100vh;
}
.info {
  margin-top: 40px;
  display: flex;
  text-align: center;
}
.info div {
  flex: 1;
  color: white;
  margin: auto;
  line-height: 25px;
}
.info div span {
  color: #ff6961;
}
.photo {
  width: 350px;
  margin: auto;
}
.other {
  margin-top: 60px;
  color: white;
  text-align: start;
  display: flex;
}
.other div {
  flex: 1;
  color: white;
  line-height: 25px;
}
.other i {
  margin-right: 7px;
}
.other img {
  margin: auto;
}
#other-text {
  margin-top: 60px;
}
#other-photo {
  display: flex;
}
.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}
@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
}
.box {
  width: 120;
  height: 120px;
  border: 2px dotted rgb(132, 182, 244);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Define transition effects */
  border-radius: 8px;
  box-shadow: none;
  display: flex;
  margin: 10px;
}
.box:hover {
  border-color: #ffff; /* Change border color on hover */
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.3); /* Add box shadow */
}
.skills {
  display: flex;
  justify-content: center;
}
.skills i {
  color:#84b6f4;
  font-size: 70px;
  margin: auto;
}
#skills-tittle {
  color: #ffff;
  margin-top: 100px;
}
h2 {
  text-align: center;
}
h2 span {
  color: #84b6f4;
}
.circle-container {
  width: 50px;
  height: 50px;
  background-color: #ff6961;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  margin: 20px;
}

.circle-container:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.circle-container:active {
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.circle-container i {
  color: white;
  font-size: 24px;
}
